
/*Inicio*/


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.contenedor{
    height: 100vh;
    width: 100%;
    background-image: url(../Imagenes/R.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
* Gridd Inicio*/

.gridd {
    display: grid;
    width: 90%;
}

.gridd > div > ul,
.gridd .INICIO,
.gridd .PERFIL,
.gridd .MUSICA,
.gridd .CONTACTANOS,
.gridd .MEGUSTA{
    background-color:#454749;
    border-radius: 50%;
        
}

.inicio{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.inicio ul li{
    list-style: none;
    display: inline-block;
    margin: 15px;
}
.inicio ul li a{
    text-decoration: none;
    color: #040505;
    font-size: 15px;
}

/* Gridd-Perfil*/

.gridd-Perfil{
    display: grid;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    grid-gap: 20px; 
    grid-template-rows: repeat(3, auto);
}
    
    

.informacion{
   list-style: none;
   text-align: center;
   padding: 0%;    
}

.informacion > ul{
    display: inline-block;
    margin: 5px;

}
.imagen-perfil{

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url(../Imagenes/R.jpg);
    text-align: center;
    padding: 12px;

}

.nombre{
    text-align: center;
    width: 450px;
    padding: 15px;
}


/*Formulario*/
*Contactanos */
.gridd-Contactanos{
    display: grid;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    grid-gap: 20px; 
    grid-template-rows: repeat(3, auto);
}

.gridd-Div{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: grid;
}

.form-registro{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}

.form-registro h1{
    font-size: 22px;
    margin-bottom: 20px;


}

.controles{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    font-size: 18px;
}
.btnRegistrar{
    width: 100%;
    background: #000000;
    border:none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}


.input{
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;

}
.btnButton{
    width: 100%;
   background: #000000;
   border:none;
   padding: 12px;
   color: white;
   margin: 16px 0;
   font-size: 16px;


}
.label{
    width: 50%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid;
    font-size: 18px;
}

    
    


/*NOSOTROS*/
.div-nosotros{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f1f1f1;

}
@media screen and (max-width: 320px) {
    body{
        background-color: #000000;
    }
    
    .contenedor{
        background-position: 50%;
    }

    .form-registro{
        background-position: 50%;
    }
}